<div class="container">
  <div class="row">
    <div class="col-3 sidebar">
        <app-sidebar></app-sidebar>

    </div>
    <div class="col-9">

      <div class="list-group ">
        <div
        class="list-group-item-action list-group-item "
        *ngFor="let item of emojis"
        >
        <div>
          {{item.name}}
        </div>
        

        <div>
          {{item.url}}
        </div>

        
        <img  [src]="item.url" alt="" class="emojiImg">
        
        
        
        
        
      </div>
      </div>

    </div>
  </div>
</div>