.emojiImg{
    background: white;
    width: 25px;
    height: 25px;
}

.emojiImg:hover{
    position: absolute;
    width: auto;
    height: auto;
}

.icon:hover :first-child{
    display: none;
}

.icon:hover :last-child{
    display: block;
}

.hoverIcon{
    display: none;
}