<div class="sidebar">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar" style="width: 200px;">
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item " *ngFor="let category of categories; index as i " (click)="showCategory(i)">
                <a class="nav-link text-white" aria-current="page" [class.active]="category.active"> 
                    {{category.name}}
                </a>
            </li>
        </ul>
        <hr>
    </div>
</div>